.style-text {
    text-align: center;
    color: white;
}
.type{
    background-color: rgb(98, 89, 228);
}
.search-text {
    font-size: 28px;
    font-weight: 700;
}
.container-style {
    height: 248px;
    width: 70%;
    position: absolute;
    bottom: 37%;
    /* top:  -200px; */
    /* float: right; */
    left: 28%;
    border: 3px solid black;
}

.sized {
    height: 10px;
}
#box {
    /* justify-content: center; */
    position: absolute;
    top: 68%;
    right: 16%;
}
box {
    padding: 3px 2px;
    border: 3px solid black;
    margin: 1px 1px;
    width: 170px;
    height: 100%;
   
}
.imgclass {
    width: 40px;
}
.icons {
    background-color:rgb(98, 89, 228)
}
.listSide {
    width: 100%;
}
/* button {
    width: 30px;
} */
.favorable{
    color: blue;
}
.moderate{
    color: green;
}
.severe{
    color: red;
}