* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.style-text {
    text-align: center;
    color: white;
}
.type{
    background-color: blue;
}
.search-text {
    font-size: 28px;
    font-weight: 700;
}
.container-style {
    height: 248px;
    width: 70%;
    position: absolute;
    bottom: 37%;
    left: 28%;
    border: 3px solid black;
    font-size: 35px;
}

.sized {
    height: 10px;
}
#box {
    position: absolute;
    top: 68%;
    right: 16%;
}
box {
    padding: 3px 2px;
    border: 3px solid black;
    margin: 1px 1px;
    width: 170px;
    height: 100%;
   
}
.imgclass {
    width: 40px;
}
.icons {
    background-color:blue;
}
.listSide p {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    padding: 5px;
}

.favorable{
    color: blue;
}
.moderate{
    color: green;
}
.severe{
    color: red;
}
.btn {
    padding-top: 5px;
}
